.coocoo {
  .home__frame {
    .container {
      width: 100%;
      .text {
        h1 {
          font-size: 50.6178px;
          img {
            width: 30px;
            height: auto;
            margin-bottom: 5px;
          }
        }
        p {
          font-size: 16px;
          line-height: 20px;
        }
      }
      .content {
        display: block;
        .image {
          text-align: center;
          margin-left: 15px;
          .frame {
            width: 100%;
            height: auto;
          }
        }
        .user {
          margin-right: 0;
          .are1 {
            margin-top: 20px;
            justify-content: center;
            gap: 30px;
            .user {
              &_info.thr {
                background-color: $color-black;
              }
            }
          }
          .are2 {
            h1 {
              font-size: 38px;
              text-align: center;
            }
          }
          .are3 {
            .bill {
              margin-right: 0;
              width: 45%;
              text-align: center;
              p {
                font-size: 14px;
              }
            }
            .time {
              width: 50%;
              .text {
                margin-left: 15px;
                margin-top: 15px;
                .textTime {
                  font-size: 25px;
                }
              }
            }
          }
          .are4 {
            button {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
