.hotDrops {
  margin-top: -80px;
  height: 700px;
  display: block;
  .title {
    width: 100%;
    .text {
      display: flex;
      width: 90%;
      justify-content: center;
      .hot {
        margin-top: 100px;
        font-size: 50px;
      }
      .drops {
        font-size: 50px;
        margin-top: 100px;
        margin-left: 10px;
        position: relative;
      }
      img {
        position: absolute;
        margin-top: 160px;
        margin-left: 75px;
        width: auto;
        height: auto;
      }
    }
  }
  .item {
    width: 100%;
    .card {
      margin-top: -90px;
      &_item {
        display: none;
      }
      &_item.res {
        display: block;
      }
    }
  }
}
