@media (max-width: 1350px) {
  .coocoo {
    .data {
      &-chill {
        .data__are2 {
          &-chill {
            .are2 {
              .card__box {
                .card {
                  .card__chill {
                    --template-columns: 2;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1150px) {
  .data__are2-chill {
    .are1 {
      .history_chill {
        .data {
          .item {
            .time {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .coocoo {
    .data-chill {
      flex-direction: column;
    }
  }
}
@media (max-width: 800px) {
  .coocoo {
    .data-chill {
      padding: 0 100px;
      .data__are2-chill {
        .are1 {
          flex-direction: column;
        }
        .are2 {
          .header-chill {
            .block {
              display: none;
            }
          }
          .card__box {
            .card {
              .card__chill {
                --template-columns: 1;
              }
            }
          }
        }
      }
    }
  }
}
