@media (max-width: 1350px) {
  .data {
    &-chill {
      .data__are2 {
        &-chill {
          .are2 {
            .card {
              --template-columns: 2;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1150px) {
  .data__are2-chill {
    .are1 {
      .history_chill {
        .data {
          .item {
            .time {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .data-chill {
    display: block;
  }
}
@media (max-width: 700px) {
  .data-chill {
    padding: 0 30px;
    .data__are2-chill {
      .are1 {
        display: block;
      }
      .are2 {
        .header-chill {
          .block {
            display: none;
          }
        }
      }
    }
  }
}
