.card {
  &-chill {
    width: 100%;
    .card-box {
      --template-columns: 1;
      .item {
        width: 100%;
        &-chill {
          .bid {
            justify-content: normal;
            gap: 20px;
            position: relative;
            .image {
              position: absolute;
              right: 10px;
            }
          }
        }
      }
    }
  }
}
