.footer {
  .conatiner {
    width: 90%;
    margin: auto;
    display: flex;
    .are1 {
      flex: 1;
      .text {
        margin-top: 20px;
        p {
          font-weight: 400;
          font-size: 14px;
          color: #565656;
        }
      }
      .icon {
        margin-top: 20px;
        .dis {
          margin: 0 10px;
        }
      }
      .coco {
        p {
          color: $color-grey;
        }
      }
    }
    .are2 {
      flex: 1;
      display: flex;
      .box1 {
        flex: 1;
        .text {
          margin-left: 50px;
          h3 {
            margin-bottom: 20px;
          }
          p {
            margin-bottom: 5px;
            color: $color-grey;
          }
        }
      }
      .box2 {
        flex: 1;
        .text {
          h3 {
            margin-bottom: 20px;
          }
          p {
            margin-bottom: 5px;
            color: $color-grey;
          }
        }
      }
    }
    .are3 {
      flex: 1;
      .text {
        h3 {
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 5px;
          color: $color-grey;
        }
        form {
          margin-top: 75px;
          .email {
            padding: 10px 20px;
            border: 1px solid #ededed;
            border-radius: 45px;
            width: 310px;
            input {
              border: none;
              outline: none;
              position: relative;
            }
          }
          button {
            position: absolute;
            padding: 12px 18px;
            border: none;
            background: $background;
            border-radius: 45px;
            font-weight: 500;
            font-size: 12.1587px;
            color: $color-white;
            margin-top: -39px;
            margin-left: 195px;
          }
        }
      }
    }
  }
}
