.menu {
  height: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  .container {
    display: flex;
    line-height: 80px;
    .are1 {
      width: 30%;
      display: flex;
      justify-content: space-evenly;
      .logo {
        img {
          margin-top: 20px;
        }
      }
      .list {
        a {
          text-decoration: none;
          margin: 0 12px;
          color: $color-grey;
        }
      }
    }
    .are2 {
      width: 40%;
      form {
        border: $border;
        border-radius: 60px;
        height: 50px;
        margin-top: 12px;
        img {
          margin: 0 0 10px 20px;
          position: relative;
        }
        input {
          position: absolute;
          margin-top: 19px;
          margin-left: 6px;
          border: none;
          outline: none;
          width: 496px;
        }
      }
    }
    .are3 {
      width: 30%;
      .user {
        display: flex;
        margin-top: 22px;
        justify-content: space-evenly;
        button {
          padding: 8px 20px;
          border: none;
          border-radius: 10px;
          background: $background;
          color: $color-white;
        }
      }
    }
  }
}
