.topList {
  margin: 40px 0;
  .box {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    .are {
      margin-top: 30px;
      width: 30%;
      .top {
        font-weight: 800;
        font-size: 24px;
        color: $color-black;
      }
      .time {
        font-weight: 700;
        font-size: 18px;
        color: $color-green;
      }
      .userBox {
        width: 365px;
        display: flex;
        gap: 15px;
        border-bottom: 1px solid #ededed;
        justify-content: space-between;
        padding: 20px 8px 20px 10px;
        align-items: center;
        border-bottom: $border;
        .number {
          font-weight: 700;
          font-size: 24px;
          margin-right: 20px;
          width: 10%;
        }
        .image {
          display: flex;
          position: relative;
          .check {
            position: absolute;
            right: -5px;
            z-index: 1;
          }
        }
        .adress {
          margin-right: 20px;
          width: 50%;
          .text {
            font-weight: 700;
            font-size: 18px;
            color: $color-black;
          }
          .textNumber {
            font-weight: 700;
            font-size: 14px;
            color: $color-grey;
            margin-top: 5px;
          }
        }
        .price {
          width: 20%;
          font-weight: 700;
          font-size: 20px;
          color: $color-green;
          &.err {
            color: $color-pink;
          }
        }
      }
    }
  }
  .dots {
    display: none;
  }
}
