.topList {
  padding: 40px 100px;
  .box {
    .are {
      .top {
        font-weight: 800;
        font-size: 24px;
        color: $color-black;
      }
      .time {
        display: flex;
        align-items: center;
        &-text {
          span {
            font-weight: 700;
            font-size: 18px;
            color: $color-green;
          }
        }
        &-image {
          img {
            object-fit: cover;
          }
        }
      }
      .userBox {
        display: flex;
        padding: 20px 10px;
        align-items: center;
        border-bottom: $border;
        .number {
          font-weight: 700;
          font-size: 24px;
          flex: 0.3;
        }
        .image {
          flex: 0.5;
          &-chill {
            display: flex;
            position: relative;
            .check {
              position: absolute;
              left: 50%;
            }
          }
        }
        .adress {
          flex: 1;
          .text {
            font-weight: 700;
            font-size: 18px;
            color: $color-black;
          }
          .textNumber {
            font-weight: 700;
            font-size: 14px;
            color: $color-grey;
            margin-top: 5px;
          }
        }
        .price {
          flex: 1;
          font-weight: 700;
          font-size: 20px;
          color: $color-green;
          &.err {
            color: $color-pink;
          }
        }
      }
    }
  }
  .slick-dots li.slick-active button:before {
    color: $color-green;
  }
}
