.coocoo {
  .wizard {
    padding: 0 100px;
    display: flex;
    align-items: center;
    height: 450px;
    .text {
      flex: 1;
      .head {
        p {
          font-weight: 700;
          font-size: 32px;
        }
      }
      .body {
        margin-top: 20px;
        p {
          font-weight: 400;
          font-size: 18px;
          color: #636363;
        }
      }
      .button {
        margin-top: 20px;
        .btn {
          font-weight: 600;
          font-size: 20px;
          color: $color-white;
          padding: 20px 40px;
          border: none;
          border-radius: 50px;
          background-color: $color-dark-dreen;
        }
      }
    }
    .image {
      flex: 1;
      .image_are {
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
  &.change {
    .wizard {
      background: $grey;
    }
  }
}
