$background: linear-gradient(114.51deg, #6bcb07 -12.5%, #06bfc9 94.9%);
$border: 1px solid #ededed;
$color-white: #ffffff;
$color-grey: #6a6a6a;
$color-black: #373737;
$color-green: #6bcb07;
$color-pink: #f01866;
$color-dark-dreen: #003935;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@300;400;500;700&display=swap");
@import "menu";
@import "frame";
@import "hotDrops";
@import "topList";
@import "discoverMore";
@import "wizard";
@import "footer";
@import "finall";
// Responsive
@media (min-width: 375px) and (max-width: 1200px) {
  @import "responsive/responsive";
}
@media (max-width: 375px) {
  .hotDrops {
    .title {
      .text {
        img {
          width: 35%;
        }
      }
    }
  }
  .wizard {
    .image {
      width: 100%;
      .image_are {
        img {
          width: 100%;
          margin-top: 0;
        }
      }
    }
  }
}
