@import "frame";
@import "hotDrops";
@import "topList";
@import "discoverMore";
@import "wizard";

// Responsive
@media (max-width: 1310px) {
  .coocoo {
    .discoverMore {
      .conatainerMore {
        .are3 {
          margin-top: 50px;
          .box_card {
            --template-columns: 3;
          }
        }
      }
    }
  }
}
@media (max-width: 1250px) {
  @import "responsive/table/frame";
  @import "responsive/table/hotDrops";
  @import "responsive/table/discoverMore";
  @import "responsive/table/wizard";
}
@media (max-width: 1030px) {
  .coocoo {
    .discoverMore {
      .conatainerMore {
        .are3 {
          .box_card {
            --template-columns: 2;
            .card.res.show {
              display: none;
            }
          }
        }
      }
    }
  }
  .coocoo {
    .home__frame {
      .container {
        .text-chill {
          gap: 10px;
          .text-chill__are1 {
            p {
              font-size: 85px;
              line-height: 1;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 750px) {
  @import "responsive/mobi/frame";
  @import "responsive/mobi/hotDrops";
  @import "responsive/mobi/discoverMore";
  @import "responsive/mobi/wizard";
  @import "responsive/mobi/topList";
}
