@import "frame";
@import "hotDrops";
@import "topList";
@import "discoverMore";
@import "wizard";

// Responsive
@media (max-width: 1250px) {
  @import "responsive/table/frame";
  @import "responsive/table/hotDrops";
  @import "responsive/table/discoverMore";
  @import "responsive/table/wizard";
}
@media (max-width: 950px) {
  .coocoo {
    .discoverMore {
      .conatainerMore {
        .are3 {
          .box_card {
            --template-columns: 2;
            .card.res.show {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 625px) {
  @import "responsive/mobi/frame";
  @import "responsive/mobi/hotDrops";
  @import "responsive/mobi/discoverMore";
  @import "responsive/mobi/wizard";
  .topList {
    padding: 25px;
    .box {
      .are {
        padding: 0;
        .userBox {
          padding: 20px 0;
          p {
            flex: 0.1;
          }
        }
      }
    }
  }
}
