.finall {
  // padding: 30px 20px;
  .finall__container {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
    .finall__box2 {
      .finall__text {
        gap: 20px;
        p {
          margin: 0;
        }
      }
    }
  }
}
