.finall {
  margin-top: 100px;
  .finall__container {
    display: block;
    .finall__box1 {
      width: 100%;
      position: relative;
    }
    .finall__box2 {
      width: 100%;
      .finall__text {
        float: left;
        position: absolute;
        margin-top: -40px;
        p {
          margin: 0 25px 0 0;
        }
      }
    }
  }
}
