.finall {
  padding: 30px 100px;
  .finall__container {
    display: flex;
    justify-content: space-between;
    .finall__box1 {
      .finall__text {
        p {
          font-weight: 400;
          font-size: 14px;
          color: $color-grey;
        }
      }
    }
    .finall__box2 {
      .finall__text {
        display: flex;
        p {
          font-weight: 400;
          font-size: 14px;
          margin: 0 20px;
          color: $color-grey;
        }
      }
    }
  }
}
