.menu {
  position: relative;
  padding: 20px 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  .menu__container {
    display: flex;
    align-items: center;
    .menu__are1 {
      flex: 1;
      display: flex;
      gap: 10px;
      padding: 0 10px;
      align-items: center;
      justify-content: space-evenly;
      .menu__list {
        display: flex;
        gap: 10px;
        a {
          text-decoration: none;
          color: $color-grey;
        }
      }
      .menu__bar {
        display: none;
      }
    }
    .menu__are2 {
      flex: 2;
      form {
        padding: 10px 10px;
        border: $border;
        border-radius: 60px;
        display: flex;
        .image {
          img {
            position: absolute;
            z-index: 1;
          }
        }
        .input {
          width: 100%;
          padding: 0 20px;
          display: flex;
          align-items: center;
          input {
            width: 100%;
            position: relative;
            border: none;
            outline: none;
          }
        }
      }
    }
    .menu__are3 {
      flex: 1;
      .menu__user {
        display: flex;
        justify-content: space-around;
        padding: 0 30px;
        align-items: center;
        button {
          padding: 8px 20px;
          border: none;
          border-radius: 10px;
          background: $background;
          color: $color-white;
        }
      }
    }
  }
  .menu-mobi {
    display: none;
  }
  @import "user";
}
