.coocoo {
  .frame {
    .container {
      padding: 0 20px;
      .content {
        .user__item {
          width: 100%;
          padding: 0px;
          .are1 {
            gap: 5px;
          }
          .are4 {
            button {
              padding: 15px 0px;
            }
          }
          .are5 {
            p {
              text-align: left;
              padding: 0 10px;
            }
          }
        }
      }
    }
  }
}
