.frame {
  .container {
    .content {
      .user {
        .are1 {
          gap: 5px;
          margin-left: -10px;
        }
        .are3 {
          .time {
            margin-top: -10px;
          }
        }
        .are4 {
          button {
            padding: 15px 0px;
          }
        }
        .are5 {
          p {
            text-align: left;
          }
        }
      }
    }
  }
}
