.coocoo {
  .properties {
    padding: 30px 20px;
    .backgroud {
      justify-content: space-around;
      .item {
        &:nth-child(3) {
          display: none;
        }
        .item_1 {
          margin: 10px 10px 0 10px;
        }
      }
    }
  }
}
