.properties {
  .backgroud {
    justify-content: space-around;
    .item {
      &.open {
        &.hiden {
          display: none;
        }
      }
      .item_1 {
        margin: 10px 10px 0 10px;
      }
    }
  }
}
