.coocoo {
  .create {
    padding: 0 20px;
    .are2 {
      .box {
        .colection {
          .colection-box {
            display: block;
            .text-colection {
              margin: 15px 0;
            }
          }
        }
      }
    }
  }
  .create__button {
    padding: 0 1rem;
  }
}
