.card {
  &-chill {
    .card-box {
      .item {
        &-chill {
          .image {
            display: none;
            &.change {
              display: block;
            }
          }
          .bid {
            .bid-context {
              display: none;
              .bid-chill {
                .time {
                  border-radius: 5.76936px;
                  background-color: $background-time;
                  p {
                    color: $color-white;
                  }
                }
                .btn {
                  button {
                    padding: 9px;
                    background: $color-white;
                    color: $blue;
                    border: 0.96156px solid $blue;
                    border-radius: 5.76936px;
                  }
                }
                &.change {
                  .time {
                    color: $color-white;
                    background: $background-buy;
                  }
                  .btn {
                    button {
                      border: 0.96156px solid $background-buy;
                      background: $color-white;
                      color: $background-buy;
                    }
                  }
                }
              }
              &.change {
                display: block;
              }
            }
            .image {
              display: none;
              &.change {
                display: block;
              }
            }
          }
        }
      }
    }
    .button {
      .box {
        position: relative;
        .text {
          display: none;
        }
        .button {
          &.change {
            .chill {
              padding: 10px;
              border-radius: 50%;
              background: $background;
              position: absolute;
              right: 0;
              bottom: 0;
            }
          }
        }
      }
    }
  }
  &-button {
    display: none;
  }
}
