.filter {
  margin-top: 30px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  &-chill {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 5px;
    .are1 {
      flex: 3;
      display: flex;
      gap: 10px;
      align-items: center;
      .box {
        flex: 3;
        display: flex;
        gap: 10px;
        .box1 {
          flex: 2;
          display: flex;
          gap: 10px;
          .item {
            flex: 1;
            .text {
              p {
                font-weight: 700;
                font-size: 16px;
                line-height: 17px;
                color: $black;
              }
            }
            .btn {
              margin-top: 5px;
              display: flex;
              background: #ededed;
              border-radius: 50px;
              justify-content: space-around;
              align-items: center;
              padding: 10px 0;
              p {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: $color-grey;
              }
            }
          }
        }
        .box2 {
          flex: 1;
          .item {
            .text {
              padding: 0 10px;
              p {
                font-weight: 700;
                font-size: 16px;
                line-height: 17px;
                color: $black;
              }
            }
            .btn {
              margin-top: 5px;
              display: flex;
              background: #ededed;
              border-radius: 50px;
              padding: 10px 0;
              justify-content: space-around;
              p {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: $color-grey;
              }
            }
          }
        }
      }
      .length {
        flex: 2;
        .header {
          .text {
            p {
              font-weight: 700;
              font-size: 16px;
              line-height: 17px;
            }
          }
        }
        .select {
          display: flex;
          gap: 10px;
          .length-item {
            flex: 1;
            .length-btn {
              margin-top: 5px;
              padding: 8px 0;
              background: #ededed;
              border-radius: 50px;
              justify-content: space-around;
              align-items: center;
              display: flex;
              .text {
                p {
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 17px;
                  color: $color-grey;
                }
              }
            }
          }
        }
      }
    }
    .are2 {
      flex: 1.5;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      .box1 {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 5px;
        p {
          font-weight: 700;
          font-size: 14px;
          line-height: 17px;
        }
      }
      .box2 {
        display: flex;
        gap: 5px;
        align-items: center;
        margin-bottom: 5px;
        .text {
          p {
            margin-bottom: 3px;
            font-weight: 700;
            font-size: 16px;
            line-height: 17px;
          }
        }
      }
    }
    .are3 {
      flex: 0.8;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      .are3-chill {
        .btn {
          border: 1px solid #6a6a6a;
          display: flex;
          border-radius: 100px;
          gap: 10px;
          padding: 12px 30px;
          p {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: $color-grey;
          }
        }
      }
    }
  }
  .search {
    display: none;
    width: 90%;
    margin: auto;
    form {
      margin: 30px 0;
      border: $border;
      border-radius: 50px;
      display: flex;
      align-items: center;
      padding: 20px;
      input {
        width: 100%;
        border: none;
        outline: none;
      }
      .image {
        margin-right: 15px;
        position: relative;
        img {
          position: absolute;
          top: -8px;
          left: -8px;
        }
      }
    }
  }
}
