.card {
  &-chill {
    .card-box {
      text-align: center;
      .item {
        width: 50%;
        &.hiden {
          display: none;
        }
        &-chill {
          // display: block;
          width: 80%;
          margin: auto;
          .data {
            .text {
              text-align: left;
            }
          }
          .image {
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}
