.card {
  &-chill {
    width: 90%;
    .card-box {
      --template-columns: 3;
      text-align: center;
      .item {
        &.hiden {
          display: none;
        }
        &-chill {
          margin: auto;
          .data {
            .text {
              text-align: left;
            }
          }
          .image {
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}
