.coocoo {
  .filter {
    &-chill {
      display: block;
      .are1 {
        display: block;
        .box {
          display: block;
          .box1 {
            .item {
              .btn {
                justify-content: space-between;
                padding: 10px 20px;
              }
            }
          }
          .box2 {
            margin: 30px 0;
            .item {
              .btn {
                justify-content: space-between;
                p {
                  margin-left: 20px;
                }
                .image {
                  margin-right: 20px;
                  position: relative;
                  img {
                    position: absolute;
                    top: 4px;
                    left: -8px;
                  }
                }
              }
            }
          }
        }
        .length {
          .select {
            .length-item {
              .length-btn {
                justify-content: space-between;
                align-items: center;
                p {
                  margin-left: 20px;
                }
                .length-image {
                  margin-right: 20px;
                  img {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
      .are2 {
        margin: 30px 0;
        gap: 10px;
      }
      .are3 {
        .are3-chill {
          width: 100%;
          .btn {
            align-items: center;
            justify-content: center;
            .dev {
              left: 50%;
              transform: translateX(-35px) translateY(5px);
            }
            .list {
              left: 50%;
            }
          }
        }
      }
    }
    .search {
      display: block;
    }
  }
}
