.coocoo {
  .over {
    .over_chill {
      display: block;
      .box1 {
        .history {
          height: auto;
          &_chill {
            .month {
              margin-bottom: 10px;
            }
          }
        }
      }
      .box2 {
        margin-top: 40px;
        .are1 {
          display: block;
          .history {
            height: 300px;
            &_chill {
              .header {
                p {
                  padding-top: 30px;
                }
              }
            }
          }
          .follow {
            &_chill {
              .header {
                p {
                  padding-top: 30px;
                }
              }
            }
          }
        }
        .are2 {
          .more {
            &_chill {
              .box {
                &_chill {
                  justify-content: space-evenly;
                }
              }
            }
          }
        }
      }
    }
  }
}
