.coocoo {
  .discoverMore {
    .conatainerMore {
      padding: 30px 20px;
      .are3 {
        .box_card {
          --template-columns: 1;
          .card_discover {
            display: none;
            min-width: auto;
            &:last-child {
              display: block;
            }
          }
        }
      }
      .are4 {
        .btn {
          padding: 15px 15px;
        }
      }
    }
  }
}
