.coocoo {
  .home__frame {
    .container {
      .text-chill {
        .text-chill__are1 {
          p {
            font-size: 44px;
          }
          .image {
            width: 30px;
            height: 30px;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
        .text-chill__are2 {
          p {
            font-size: 16px;
            line-height: 1;
          }
        }
      }
      .content {
        .user {
          margin-right: 0;
          .are1 {
            margin-top: 20px;
            justify-content: center;
            gap: 5px;
            .user {
              &_info.fir {
                display: flex;
                align-items: center;
                justify-content: center;
              }
              &_info.sec {
                display: flex;
                align-items: center;
                justify-content: center;
              }
              &_info.thr {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $color-black;
              }
            }
          }
          .are3 {
            justify-content: space-between;
            .time {
              margin-top: -10px;
            }
          }
          .are4 {
            button {
              padding: 15px 0px;
            }
          }
        }
      }
    }
  }
}
