.frame {
  .container {
    .text {
      h1 {
        font-size: 40px;
      }
    }
    .content {
      .user {
        margin-right: 0;
        .are1 {
          margin-top: 20px;
          justify-content: center;
          gap: 5px;
          .user {
            &_info.thr {
              background-color: $color-black;
            }
          }
        }
        .are3 {
          .time {
            margin-top: -10px;
          }
        }
        .are4 {
          button {
            padding: 15px 0px;
          }
        }
      }
    }
  }
}
