.coocoo {
  .hotDrops {
    padding: 30px 20px;
    display: block;
    .hotDrops__item {
      .hotDrops__card {
        .card_item {
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
    .hotDrops__title {
      .text {
        .hot {
          font-size: 70px;
        }
        .drop-box {
          .drops {
            font-size: 70px;
          }
        }
      }
    }
  }
}
