.topList {
  .box {
    .are {
      .userBox {
        gap: 5px;
        .number {
          margin-right: 0px;
        }
        .adress {
          margin-right: 0px;
        }
      }
    }
  }
}
