.menu {
  width: 100%;
  .container {
    .are1 {
      width: 100%;
      justify-content: space-between;
      .logo {
        margin-left: 20px;
      }
      .list {
        display: none;
      }
      .bar {
        margin-right: 20px;
        display: block;
        font-size: 25px;
        font-weight: 600;
        color: $color-grey;
      }
    }
    .are2,
    .are3 {
      display: none;
    }
  }
}
.frame {
  .container {
    width: 100%;
    .text {
      h1 {
        font-size: 50.6178px;
        img {
          width: 20px;
          height: auto;
          margin-bottom: 0;
        }
      }
      p {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .content {
      display: block;
      img {
        width: 100%;
      }
      .user {
        margin-right: 0;
        .are1 {
          margin-top: 20px;
          justify-content: space-between;
          .user {
            &_info.thr {
              background-color: $color-black;
            }
          }
        }
        .are2 {
          h1 {
            font-size: 38px;
          }
        }
        .are3 {
          .bill {
            margin-right: 0;
            width: 45%;
            p {
              font-size: 14px;
            }
          }
          .time {
            width: 50%;
            .text {
              margin-left: 15px;
              margin-top: 15px;
              .textTime {
                font-size: 25px;
              }
            }
          }
        }
        .are4 {
          button {
            width: 100%;
          }
        }
      }
    }
  }
}
.hotDrops {
  height: 700px;
  display: block;
  .title {
    width: 100%;
    .text {
      display: flex;
      width: 90%;
      justify-content: center;
      .hot {
        margin-top: 100px;
        font-size: 50px;
      }
      .drops {
        font-size: 50px;
        margin-top: 100px;
        margin-left: 10px;
        position: relative;
      }
      img {
        position: absolute;
        margin-top: 160px;
        margin-left: 75px;
        width: 35%;
        height: auto;
      }
    }
  }
  .item {
    width: 100%;
    .card {
      margin-top: -90px;
      &_item {
        display: none;
      }
      &_item.res {
        display: block;
      }
    }
  }
}
.topList {
  .box {
    .are {
      width: 100%;
      .userBox {
        width: 100%;
        .number {
          margin-right: 5px;
        }
        .check {
          margin-left: 65px;
        }
      }
    }
    .are.sellers,
    .are.buyers {
      display: none;
    }
  }
  .dots {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    p {
      width: 10px;
      height: 10px;
      background-color: rgb(185, 185, 185);
      margin: 0 15px;
      border-radius: 10px;
    }
    p.check {
      background-color: $color-green;
    }
  }
}
.discoverMore {
  .conatainerMore {
    .are1 {
      .text {
        p {
          font-size: 40px;
        }
        img {
          width: 25%;
          height: auto;
          margin-left: 30px;
          margin-top: -10px;
        }
      }
    }
    .are2 {
      margin-top: 70px;
      .box {
        .category {
          width: 50%;
          p {
            display: none;
          }
          .all {
            display: block;
          }
        }
        .filer {
          width: 50%;
        }
      }
    }
    .are3 {
      margin-top: 50px;
      .box_card {
        justify-content: center;
        .card {
          display: none;
          &.res {
            display: block;
          }
        }
      }
    }
  }
}
.wizard {
  display: block;
  .text {
    width: 100%;
    .head {
      p {
        font-size: 30px;
      }
    }
    .button {
      .btn {
        width: 100%;
      }
    }
  }
  .image {
    width: 100%;
    .image_are {
      img {
        width: 100%;
        height: auto;
        margin-top: 0;
      }
    }
  }
}
.footer {
  margin-top: 150px;
  .conatiner {
    display: block;
    .are2 {
      margin: 20px 0;
      .box1 {
        .text {
          margin-left: 0;
        }
      }
    }
    .are3 {
      .text {
        form {
          margin-top: 30px;
          .email {
            display: flex;
            width: 100%;
          }
          button {
            margin-top: 10px;
            width: 90%;
            margin-left: 0px;
          }
        }
      }
    }
  }
}
.finall {
  margin-top: 100px;
  .container {
    display: block;
    .box1 {
      width: 100%;
      position: relative;
    }
    .box2 {
      width: 100%;
      .text {
        float: left;
        position: absolute;
        margin-top: -40px;
        p {
          margin: 0 25px 0 0;
        }
      }
    }
  }
}
