$background: linear-gradient(114.51deg, #6bcb07 -12.5%, #06bfc9 94.9%);
$border: 2px solid #ededed;
$color-white: #ffffff;
$color-grey: #6a6a6a;
$color-black: #373737;
$color-green: #6bcb07;
$color-pink: #f01866;
$color-dark-dreen: #003935;
$grey: #ededed;
$black: #000000;
$GrayScale: #555555;
// change
$blue: #163043;
$background-time: rgba(22, 48, 67, 0.9);
$background-discover: rgba(220, 220, 220, 0.32);
$background-buy: #397248;
$background-properties: #d7e3ec;
$background-fillter: #ececec;
$background-button: #ebebeb;
$background-button-lingth: #6ccb05;
