* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700,800&family=Oswald:wght@300;400;500;700&display=swap");

@import "var";

@import "Layout/Layout.scss";
@import "Marketplace/Marketplace.scss";
