* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Oswald:wght@300;400;500;600;700&display=swap");

@import "var";
// component/Image/Button Dark
@import "../components/Image/Button-Dark/button_dark";

@import "Layout/Layout.scss";
@import "Home/Home.scss";
@import "Item_Page/Item.scss";
@import "Marketplace/Marketplace.scss";
@import "Create_Page/Create_Page.scss";
@import "Account/Account.scss";
