.policy {
  padding: 100px 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  &-are1 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    .policy__box1 {
      .policy__text {
        span {
          font-weight: 700;
          font-size: 53.2809px;
          line-height: 64px;
          text-align: center;
          letter-spacing: -0.05em;
          color: $black;
        }
      }
    }
    .policy__box2 {
      .box {
        background: #f0f0f0;
        border-radius: 7.86384px;
        padding: 15px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        .update {
          span {
            font-weight: 300;
            font-size: 14.0675px;
            line-height: 17px;
            color: $black;
          }
        }
        .date-time {
          span {
            font-weight: 700;
            font-size: 14.9413px;
            line-height: 18px;
            color: $black;
          }
        }
      }
    }
  }
  &-are2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    .chill {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .span-1 {
        &-1 {
          font-weight: 600;
        }
        &-2 {
          font-weight: 600;
          display: block;
          padding: 5px;
        }
        &-3 {
          display: block;
          padding: 5px 10px;
        }
        &-4 {
          &-1 {
            font-weight: 600;
            padding: 5px;
          }
        }
        &-5 {
          display: block;
          padding: 5px 10px;
        }
        &-6 {
          &-1 {
            font-weight: 600;
            padding: 5px;
          }
        }
        &-7 {
          display: block;
          &-1 {
            font-weight: 600;
            padding: 5px;
          }
        }
      }
      .span-2 {
        &-1 {
          font-weight: 600;
        }
        &-2 {
          display: block;
          padding: 5px;
        }
      }
      .span-3 {
        &-1 {
          font-weight: 600;
        }
        &-2 {
          display: block;
          padding: 5px;
        }
      }
      .span-4 {
        span {
          font-weight: 600;
        }
      }
      .span-5 {
        span {
          font-weight: 600;
        }
      }
      .span-6 {
        &-1 {
          font-weight: 600;
        }
        &-2 {
          display: block;
          padding: 5px;
        }
        &-3 {
          display: block;
          padding: 5px;
        }
      }
      .span-7 {
        &-1 {
          font-weight: 600;
        }
        &-2 {
          display: block;
          padding: 5px;
        }
      }
      .span-8 {
        span {
          font-weight: 600;
        }
      }
      .span-9 {
        &-1 {
          font-weight: 600;
        }
        &-2 {
          display: block;
          padding: 5px;
        }
      }
      .span-10 {
        span {
          font-weight: 600;
        }
      }
      .span-11 {
        span {
          font-weight: 600;
        }
      }
      .span-12 {
        span {
          font-weight: 600;
        }
      }
      .span-13 {
        span {
          font-weight: 600;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .policy {
    padding: 100px;
  }
}
@media (min-width: 320px) and (max-width: 750px) {
  .policy {
    padding: 100px 20px;
    &-are1 {
      .policy__box1 {
        text-align: center;
      }
    }
  }
}
